body {
    background-color: #ff66ff;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    border-style: dotted;
    border-color: #00004d;
    border-width: 5px;
}

h1 {
     color: #000033;
     text-align: center;
font-size: 50px;
font-family: 'Sacramento', cursive;
}

h2 {
     color: #000033;
     text-align: center;
font-size: 50px;
font-family: 'Sacramento', cursive;
}

p {
     text-align: center;
     font-family: 'Dosis', sans-serif;
     font-size: 35px;

}

img {
      max-width: 100%;
}

/* unvisited link */
a:link {
    color: ;#4db8ff
}

/* visited link */
a:visited {
    color: #ff1a75;
}

/* mouse over link */
 a:hover {
    color: #ffff00;
}

/* selected link */
a:active {
     color: #00e600;
}